*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --headline-color: hsl(217, 19%, 35%);
  --description-color: hsl(214, 17%, 51%);
  --light-gray: hsl(212, 23%, 69%);
  --component-color: hsl(210, 46%, 95%);

  font-size: 13px;
}

body{
  font-family: 'Manrope', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background-color: var(--component-color);
}

a{
  text-decoration: none;
  color: var(--component-color)
}

.main-container{
  display: grid;
  grid-template-columns: 285px minmax(300px, 445px);
  max-width: 730px;

  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.096);
  background-color: #fff;
}

.image-box{
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.article-banner{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: all 0.5s ease;
}

.article-card:hover .article-banner {transform: scale(1.1)}

.article-content{
  background: white;
  padding: 1.6rem 1.9rem;
  border-radius: 0 10px 10px 0;
}

.article-title{
  font-size: 20px;
  color: var(--headline-color);
  margin-bottom: 12px;
  line-height: 1.4;
}

.article-text{
  font-size: 1rem;
  color: var(--description-color);
  margin-bottom: 18px;
  line-height: 1.5;
}

.article-content-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
}

.author-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.author-name{
  color: var(--headline-color);
  font-size: 1rem;
}

.publish-date{
  color: var(--light-gray);
  font-size: 1rem;
}

.share{
  position: relative;
}

.share-button{
  /* background: var(--light-gray);
  padding: 6px;
  font-size: 20px;
  color: var(--description-color);
  transition: all 0.25s ease; */
}

.share-button a{
  width: 400px;
}

.share-button a img{
  width: 30px;
  transition: all 0.25s ease;
}

.share-button a img:hover, .share-button a img.active{
  color: var(--component-color);
  background: var(--description-color);
}

.share-option {
  background: var(--headline-color);
  position: absolute;
  bottom: calc(100% + 28px);
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px #0003;
  transform-origin: bottom;
  visibility: hidden;
  transition: all 0.25s ease;
}

.share-option.active{
  visibility: visible;
  scale: 1;
}