*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-family: 'Poppins';
  font-size: 62.5%;

  --background: #221b61;
  --background-cells: #201142;
  --header:#442e92 ;
  --violet: #6153e0;
  --blue: #1abaeb;
  --yellow: #ffcf40;
}

@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1;}
}

body{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 85% 5%;

  background-color: var(--background);
}

header{
  background-color: var(--header);
  box-shadow: 0 0 10px var(--background-cells);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title{
  font-size: 3.5rem;
  text-transform: capitalize;
  color: var(--yellow);
  text-shadow: 3px 0 3px var(--background-cells);
}

main{
  display: flex;
  width: 100%;
  height: 100%;
  place-content: center;
  align-items: center;
  justify-content: center;
}

.name-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  gap: 20px;

  font-size: 1.5rem;
  color: var(--yellow);
  background-color: var(--violet);

  padding: 20px;
  box-shadow: 0 0 20px var(--background-cells);
  border-radius: 3px;
}

.name-container > h2{
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-cells)
}

.name-container label {
  font-size: 2rem;
  font-weight: 600;
}
.name-container input {
  width: 100%;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--background-cells);

  outline: none;
  border: 2px solid var(--header);
  transition: .3s;
}
.name-container input:focus{
  background-color: var(--background);
  color: #fff;
}

.player1-color{
  color: var(--yellow);
}

.player2-color{
  color: var(--blue);
}

.name-container .start-btn{
  margin-top: 20px;
  max-width: 60%;
  
  border: 2px solid var(--yellow);
  background-color: var(--background);
  color: var(--yellow);

  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.name-container .start-btn:hover{
  background-color: var(--background-cells);
  color: var(--blue);
  border: 2px solid var(--blue);
}

.game-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.game-container h2{
  font-size: 3rem;
  color: #fff;
}

.circle-color{
  color: var(--blue);
}

.x-color{
  color: var(--yellow);
}

.game-table{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.cells{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 10px;

  box-shadow: 0px 0px 20px var(--background-cells);
  background-color: var(--background);
  border: 2px solid var(--violet);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.cells:hover{
  background-color: var(--background-cells);
}

.cells-clicked{
  background-color: var(--background-cells);
  cursor: default;
}

.cells > i{
  font-size: 7rem;
}

.cells-winner{
  background-color: rgb(69, 38, 245);
  border: 3px solid var(--violet);
  box-shadow: 0 0 10px var(--violet);
  cursor: default;
}

.score-container{
  display: flex;
  justify-content: space-between;

  border: 2px solid var(--violet);
  color: #fff;

  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.winner-modal,
.draw-modal{
  width: 400px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--violet);
  color: var(--background);
  animation: fadein 2s ease-in;
}

.winner-modal h2,
.draw-modal h2{
  font-size: 2.5rem;
}

.winner-modal p,
.draw-modal p{
  font-size: 1.5rem;
}

.winner-modal input,
.draw-modal input,
.restart-game{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  padding: 5px;
  background-color: #fff;
  color: var(--background-cells);

  cursor: pointer;
  transition: .3s;
}

.winner-modal input:hover,
.draw-modal input:hover{
  background-color:#442e92;
  color: #fff;
}

footer{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a{
  font-family: 'Raleway';
  color: #FFF;
  font-size: 1.5rem;
  padding: 10px;
}

footer a:hover{
  background-color: var(--header);
}

.hide{
  display: none;
  opacity: 0;
  visibility: hidden;
}