*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    min-height: 40px;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    gap: 8px 15px;
}

.nav-logo{
    width: 180px;
}

.header-buttons{
    display: flex;
    gap: 15px;
}

.nav-button{
    font-size: 16px;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.nav-button:hover{
    border-bottom: 2px solid #c91e1e;
    color: #c91e1e;
}

.section-title{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.section-description{
    text-align: center;
    color: #383838;
}

.grid-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main-content sidebar-content";
    padding: 20px;
    flex: 1 0 auto;
}


.category-card:hover{
    border: 2px solid #292929;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    grid-area: main-content;
}

.category-card{
    width: 280px;
    height: 380px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.maincard-img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
}


.main-card-title{
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}

.main-card-description{
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 6px;

}

.sidebar-content{
    background-color: #383838;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    grid-area: sidebar-content;
    gap: 20px;
}

.sidebar-card{
    width: 75%;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.sidebar-card:hover{
    border: 1px solid gainsboro;
}

.sidebar-img{
    width: 100%;
    border-radius: 10px;
}


.sidebar-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 0;
}

.footer{
    width: 100%;
    min-height: 40px;
    background-color: #292929;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 15px;
}

.logo-footer{
    width: 180px;

}


.footer-anchor{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.5s;
}

.footer-anchor:hover{
    color: #c91e1e;
    border-bottom: 1px solid #c91e1e
}

@media (max-width: 630px){
    .grid-container{
        grid-template-areas:
        "main-content"
        "sidebar-content";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .sidebar-content{
        min-width: auto;
 
    }

}

@media (max-width: 465px){
    .header{
        justify-content: center;
    }
    .footer{
        justify-content: center;
    }
}